@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 0.75rem;
  background: #b3b2b1;
}

::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background-color: #eeb844;
}

@layer components {
  section {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 min-h-screen
  }
}

.Text-Shadow:hover {
  text-shadow: 0 0 20px #eeb844, 0 0 20px #eeb844, 0 0 20px #eeb844;
}


.contacts > a,
.about__buttons > * {
  @apply flex gap-2 border rounded border-Orange py-2 px-4 text-Orange font-semibold text-sm uppercase hover:bg-Orange hover:text-Black transition-colors duration-300  
}

.contacts > a > span {
  @apply my-auto
}

p {
  text-wrap: balance;
}